/*!
* Convrtr styles
*/
@import "../node_modules/bootstrap-scss/functions";

@import "../node_modules/bootstrap-scss/variables";
@import "../node_modules/bootstrap-scss/variables-dark";

@import "../node_modules/bootstrap-scss/maps";
@import "../node_modules/bootstrap-scss/mixins";
@import "../node_modules/bootstrap-scss/utilities";
@import "../node_modules/bootstrap-scss/root";

// Utilities
@import "../node_modules/bootstrap-scss/utilities/api";

@font-face {
    font-family: "TerminalGlyphs";
    font-style: normal;
    font-weight: normal;
	font-family:'TerminalGlyphs';
    src:url('../fonts/spherograms.eot');
    src:url('../fonts/spherograms.eot?#iefix') format('embedded-opentype'),url('../fonts/spherograms.woff') format('woff'),url('../assets/fonts/spherograms.svg#Spherograms') format('svg');
}
@font-face {
    font-family: 'Covenant';
    font-style: normal;
    font-weight: normal;
    font-family: 'Covenant';
    src:  url('../fonts/covenant.eot');
    src:  url('../fonts/covenant.eot?#iefix') format('embedded-opentype'),url('../fonts/covenant.ttf') format('truetype'),url('../fonts/covenant.woff') format('woff'),url('../assets/fonts/covenant.svg#Covenant') format('svg');
}

:root {
    --convrtr-bg-color: rgb(21, 96, 82);
    --bs-bg-success: 21, 96, 82;
    --convrtr-bg-color-rgb: 21, 96, 82;
    --convrtr-bg-color-10: #0f735f;
    --convrtr-bg-color-20: #0e6655;
    --convrtr-bg-color-25: #11806a40;
    --convrtr-bg-color-25-rgb: rgba(17, 128, 106, 0.25);
    --convrtr-bg-color-50-rgb: rgba(17, 128, 106, 0.5);
    --convrtr-bg-color-75-rgb: rgba(17, 128, 106, 0.75);
    --convrtr-bg-color-50: #88c0b5;
    --convrtr-bg-color-50-rgba: 136, 192, 181;
    --convrtr-bg-color-75: #4da08f;
    --convrtr-bg-color-75rbg: 77, 160, 143;
    --convrtr-color-link: 150, 209, 197;
    --convrtr-base-color: #212529;
    --convrtr-textarea: rgba(0,0,0,.03);
    --convrtr-switch-thumb: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2388c0b5'/%3e%3c/svg%3e");
    --convrtr-switch-checked: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    --convrtr-nav-link-padding-x: 0.25rem;
    --convrtr-nav-link-padding-y: 0.75rem;
    --convrtr-nav-tabs-border-radius: 0.375rem;
    --convrtr-nav-tabs-border-color: #dee2e6;
    --convrtr-code-opacity: 0.2;
    --bs-bg-dark-opacity: 0.08;
}
[data-bs-theme="dark"] {
    --convrtr-base-color: #dee2e6;
}
body {
    color: var(--convrtr-base-color);
    position: relative;
}

:target::before { 
    content: "";
    display: block;
    height: 64px; /* Height of your navbar */
    margin-top: -64px; /* Negative value of navbar height */
    visibility: hidden;
}

.border-convrtr {
    border-color: var(--convrtr-bg-color) !important;
}
.text-convrtr {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-bg-success), var(--bs-text-opacity)) !important;
}
@include color-mode(dark) {
    .text-convrtr {
        --bs-btn-color: var(--bs-white);
        color: rgba(var(--convrtr-color-link), var(--bs-text-opacity)) !important;
    }
}
.bg-convrtr {
    background-color: var(--convrtr-bg-color);
}
.text-bg-convrtr {
    --bs-text-opacity: 1;
    color: var(--bs-white) !important;
    background-color: rgba(var(--convrtr-bg-color-75rbg), var(--bs-text-opacity)) !important;
}

.btn-link {
    --bs-btn-color: var(--convrtr-base-color) !important;
    &:hover {
        --bs-btn-hover-color: var(--convrtr-bg-color-10) !important;
    }
    &:active,
    &:focus-visible {
        --bs-btn-focus-shadow-rgb: 255, 255, 255;
    }
}

.btn-convrtr {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--convrtr-bg-color);
    --bs-btn-border-color: var(--convrtr-bg-color);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--convrtr-bg-color-10);
    --bs-btn-hover-border-color: var(--convrtr-bg-color-10);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--convrtr-bg-color-20);
    --bs-btn-active-border-color: var(--convrtr-bg-color-20);
    --bs-btn-padding-y: 0.6rem;
}
.btn-outline-convrtr {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--convrtr-bg-color);
    --bs-btn-bg: var(--bs-white);
    --bs-btn-border-color: var(--convrtr-bg-color);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--convrtr-bg-color-10);
    --bs-btn-hover-border-color: var(--convrtr-bg-color-10);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--convrtr-bg-color-20);
    --bs-btn-active-border-color: var(--convrtr-bg-color-20);
}
@include color-mode(dark) {
    .btn-outline-convrtr {
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--convrtr-bg-color-25-rgb);
    }
}

.convrtr-spin {
    -webkit-animation-name: convrtr-spin;
    animation-name: convrtr-spin;
    -webkit-animation-duration: var(--convrtr-animation-duration, 1s);
    animation-duration: var(--convrtr-animation-duration, 1s);
    -webkit-animation-iteration-count: var(--convrtr-animation-iteration-count, infinite);
    animation-iteration-count: var(--convrtr-animation-iteration-count, infinite);
    -webkit-animation-timing-function: var(--convrtr-animation-timing, linear);
    animation-timing-function: var(--convrtr-animation-timing, linear);
}
@keyframes convrtr-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.btn-reset-data {
    .bi {
        display: inline-flex;
        align-self: center;
    }
}
.btn-btt,
.btn-link {
    --bs-btn-padding-x: 0.85rem;
    --bs-btn-padding-y: 0.55rem;
}
.btn-md,
.btn-reset-data,
.btn-theme {
    --bs-btn-padding-x: 0.85rem;
    --bs-btn-padding-y: 0.575rem;
}
.info-button {
    padding: 0.5rem 0.825rem;
    &:hover,
    &:active {
        background-color: var(--convrtr-bg-color);
        color: white;
    }
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentcolor;
}

.dropdown .bi::before, 
.dropdown [class^="bi-"]::before, 
.dropdown [class*=" bi-"]::before {
    vertical-align: top;
}

.mw {
    max-width: var(--bs-breakpoint-fhd);
}

.navbar {
    color: var(--bs-white);

    &-brand {
        --convrtr-navbar-brand-font-size: 2rem;
        font-size: var(--convrtr-navbar-brand-font-size);
        font-weight: 300;
    }

    &-text {
        display: none;
        @media (min-width: 640px) {
            display: block;
        }
    }

    &-nav {
        align-items: center;
    }
    .nav-link {
        display: flex;
        color: var(--bs-white);
        padding: var(--convrtr-nav-link-padding-y) var(--convrtr-nav-link-padding-x);
        border-radius: var(--bs-border-radius-sm);

        &:focus-visible {
            box-shadow: 0 0 0 .25rem rgba(255,255,255,.25);
        }
    }

    .show > .nav-link,
    .nav-link.active {
        color: var(--convrtr-bg-color-20);
        background-color: var(--bs-navbar-active-color);
    }

    .dropdown-item {
        --bs-dropdown-item-padding-y: 0.65rem;
        border-radius: var(--bs-border-radius-sm);
    }
    .dropdown-item:active,
    .dropdown-item.active {
        color: var(--convrtr-bg-color);
        background-color: var(--bs-navbar-active-color);
    }
    .dropdown-toggle::after {
        display: inline-flex;
        align-self: center;
        justify-self: flex-end;
        @include media-breakpoint-up(md) { 
            margin-left: 0.5rem;
        }
    }
}

@include color-mode(dark) {
    .navbar {
        .show > .nav-link,
        .nav-link.active {
            color: var(--bs-dropdown-color);
            background-color: var(--bs-body-bg);
            border-color: var(--bs-dropdown-border-color);
        }
    }
}

.offcanvas {
    .navbar-nav {
        align-items: flex-start;
        display: grid;
    }
    .btn-close {
        filter: var(--bs-btn-close-white-filter);
    }

    .dropdown-menu {
        --bs-dropdown-color: #ffffff;
        list-style-type: circle;
        margin: 0 0 0 2rem;
        background-color: transparent !important;
        color: var(--bs-dropdown-color);
        border: none;
    }
    .navbar-nav {
        .dropdown-item {
            --bs-dropdown-color: #ffffff;
            color: var(--bs-dropdown-color);
        }
        .dropdown-item:hover, 
        .dropdown-item:focus {
            color: var(--bs-dropdown-link-hover-color);
        }
        .dropdown-item:active,
        .dropdown-item.active {
            color: var(--bs-body-color);
        }
    }
}

@include color-mode(dark) {
    .offcanvas .navbar-nav {
        .dropdown-item:active, 
        .dropdown-item.active {
            color: var(--bs-dropdown-color);
            background-color: var(--bs-body-bg);
            border-color: var(--bs-dropdown-border-color);
        }
    }
}

.display {
    &-5 {
        line-height: 1.5;
    }
    &-6 {
        font-size: calc(1.975rem + 1.5vw);
        @media (min-width: 800px) {
            font-size: calc(1.575rem + 1.5vw);
        }
        @media (min-width: 1200px) {
            font-size: 2.5rem;
        }
    }
}

.section:nth-of-type(odd) {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
@include color-mode(dark) {
    .section:nth-of-type(odd) {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-body-color-rgb), var(--bs-bg-dark-opacity)) !important;
    }
}
.section:not(.footer):nth-of-type(odd) {
    @include media-breakpoint-up(fhd) {
        border-radius: var(--bs-border-radius-lg);
        &:last-of-type {
            border-radius: var(--bs-border-radius-lg) var(--bs-border-radius-lg) 0 0;
        }
    }
}

.section-toggle {
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
    @include color-mode(dark) {
        color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
    }

    .bi::before {
        transition: transform 0.4s ease-in-out;
        transform: rotate(0deg);
    }
    &[aria-expanded="true"] .bi::before {
        transform: rotate(-90deg);
    }
}
.toggle-button {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-dark-rgb), var(--bs-border-opacity)) !important;
}
@include color-mode(dark) {
    .toggle-button {
        color: var(--bs-white) !important;
        background-color: var(--convrtr-bg-color-75-rgb) !important;
    }
}

textarea {
    background-color: var(--convrtr-textarea);
}

.card-title {
    min-height: 2rem;
}

.grid-auto {
    grid-template-columns: repeat(auto-fill, 1rem)
}

.page {
    &-item {
        margin-bottom: 0.5rem;
    }
    &-link {
        min-width: 2.85rem;
        --bs-pagination-padding-x: 1.1rem;
        --bs-pagination-padding-y: 0.575rem;
        color: var(--convrtr-bg-color);
        &:hover,
        &:focus {
            color: var(--convrtr-bg-color-10);
        }
        &:focus {
            --bs-pagination-focus-box-shadow: 0 0 0 0.25rem var(--convrtr-bg-color-25-rgb);
        }
        &.active {
            background-color: var(--convrtr-bg-color);
            border-color: var(--convrtr-bg-color-20);
            &:hover,
            &:focus {
                color: var(--bs-white);
                border-color: var(--convrtr-bg-color-20);
            }
        }
    }
}

@include color-mode(dark) {
    .page {
        &-link {
            color: var(--bs-white);
        }
    }
    .card {
        background-color: rgba(var(--bs-body-color-rgb), var(--bs-bg-dark-opacity)) !important;
    }
}

.grid {
    &--fill {
        --bs-column-fill: 6rem;
        grid-template-columns: repeat(auto-fill, minmax(var(--bs-column-fill), 1fr));
    }
    &--fit {
        --bs-column-fit: 6rem;
        grid-template-columns: repeat(auto-fill, minmax(var(--bs-column-fit), 1fr));
    }
}

code {
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}
@include color-mode(dark) {
    code {
        color: var(--bs-white) !important;
        background-color: rgba(var(--bs-bg-success), 0.7) !important;
    }
    .btn-light {
        --bs-btn-padding-x: 0.85rem;
        --bs-btn-padding-y: 0.575rem;
        background-color: rgba(var(--bs-body-color-rgb), var(--bs-bg-dark-opacity)) !important;
        color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
        border-color: rgba(var(--bs-body-color-rgb), var(--bs-bg-dark-opacity)) !important;
        &:hover, &:focus, &:active {
            background-color: rgba(var(--bs-body-color-rgb), var(--convrtr-code-opacity)) !important;
        }
        &:active {
            color: var(--bs-white);
        }
    }
}

.convrtr-results {
    overflow: hidden auto;
    max-height: 24rem;
    text-align: justify;
}

.elements-grid {
    overflow: hidden auto;
    max-height: 20rem;
}
.p-element {
    flex: 1 1 calc(10% - 0.5rem);
    min-width: 8rem;
    max-width: 12rem;
}

.nav-pills {
    .nav-link {
    --bs-nav-link-padding-y: 0.625rem;
    }
}

.form-check-input {
    height: 1.75rem;
}

.form-switch {
    .form-check-input {
        width: 3.5rem;
        transition: background-position 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }
    .form-check-input:focus {
        background-image: var(--convrtr-switch-thumb);
        border-color: var(--convrtr-bg-color-50);
        box-shadow: 0 0 0 0.25rem var(--convrtr-bg-color-25-rgb);
    }
    .form-check-input:checked:focus {
        background-image: var(--convrtr-switch-checked);
    }
}

.form-check-label {
    margin-left: 0.5rem;
    margin-top: 0.25rem;
}
.form-check-input {
    &:checked {
        background-color: var(--convrtr-bg-color-25);
        border-color: var(--convrtr-bg-color-20);
    }
    &:active {
        filter: none;
        opacity: 0.75;
    }    
}

.form-control {
    padding: 0.575rem 0.75rem;
}
.form-select {
    width: 5.82rem;
    padding: 0.66rem 0.5rem;
    font-size: 1rem;
}
.form-control,
.form-select {
    &:focus {
        border-color: var(--convrtr-bg-color-25-rgb);
        box-shadow: 0 0 0 0.25rem var(--convrtr-bg-color-25-rgb);
    }
}
@include color-mode(dark) {
    .form-control,
    .form-select {
        &:focus {
            border-color: var(--convrtr-bg-color-50-rgb);
            box-shadow: 0 0 0 0.25rem var(--convrtr-bg-color-50-rgb);
        }
    }
}

.input-group > .form-select {
    width: auto;
    padding: 0.66rem 2.25rem 0.66rem 0.5rem;
}

.card-label,
.form-switch .form-check-input,
.form-check-label,
.input-group-text {
    cursor: pointer;
}

.tab-content {
    padding: 0.5rem 0.65rem;
    background-color: var(--bs-white);
    border: 1px solid;
    border-color: var(--convrtr-nav-tabs-border-color);
    border-radius: var(--convrtr-nav-tabs-border-radius);    
}
@include color-mode(dark) {
    .tab-content {
        background-color: var(--bs-body-bg);
        border-color: var(--bs-border-color);
    }
}

.shift-tabs {
    & .nav-link {
        color: var(--convrtr-bg-color);
        &.active {
            color: var(--convrtr-base-color);
            background-color: var(--convrtr-bg-color-25-rgb);
        }
    }
}
@include color-mode(dark) {
    .shift-tabs {
        & .nav-link {
            color: var(--bs-white);
            &.active {
                color: var(--bs-white);
                background-color: var(--convrtr-bg-color-75-rgb);
            }
        }
    }
}

.hash-table {
    td {
        word-break: break-all;
    }
}

.elements-table {
    $row-highlight-color: #dee2e6;
    & .col {
        min-height: 2.5rem;

        @media (max-width: 575px) {
            padding-top: calc(var(--bs-gutter-x)* .5);
            padding-bottom: calc(var(--bs-gutter-x)* .5);

            &:nth-child(2n + 2) {
                background-color: $row-highlight-color;
            }
        }
        @media (min-width: 576px) and (max-width: 767px) {
            padding-top: calc(var(--bs-gutter-x)* .5);
            padding-bottom: calc(var(--bs-gutter-x)* .5);
            
            &:nth-of-type(4n-1),
            &:nth-of-type(4n) {
                background-color:  $row-highlight-color;
            }
        }
        @media (max-width: 767px) {
            &:empty {
                display: none;
            }
        }
        @media (min-width: 767px) {
            // Highlight first 4, skip 4, highlight next 4
            @for $i from 0 through 8 { // Large range to cover expected number of columns
                &:nth-of-type(8n + #{$i * 8 + 1}),
                &:nth-of-type(8n + #{$i * 8 + 2}),
                &:nth-of-type(8n + #{$i * 8 + 3}),
                &:nth-of-type(8n + #{$i * 8 + 4}) {
                    background-color: $row-highlight-color;
                }
            }
        }
    }
}

.toast {
    border-radius: var(--bs-toast-border-radius);
    &-header {
        border: none;
        .btn-close {
            background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
        }
    }
    &-body {
        border-bottom-left-radius: var(--bs-toast-border-radius);
        border-bottom-right-radius: var(--bs-toast-border-radius);
    }
}

.was-validated textarea.form-control.ld-warning:invalid, 
textarea.form-control.is-invalid.ld-warning {
    background-position: top calc(0.375em + 0.1875rem) right calc(0.875em + 0.3875rem);
}

.release-version {
    padding: 0.675rem 1rem !important;

    &:active,
    &:hover,
    &:focus {
        text-decoration: none;
    } 
}

.braille {
    font-size: 3rem;
    letter-spacing: 2px;
    width: max-content;
    color: var(--convrtr-base-color);
    line-height: 1.2;
}

.forerunner {
    font-family: 'TerminalGlyphs';
    font-size: 3rem;
    letter-spacing: 8px;
    width: max-content;
    color: var(--convrtr-base-color);
}
.fr-glyph {
    font-family: 'TerminalGlyphs';
    width: 3rem;
    height: 3rem;
    font-size: 1.75rem;
    line-height: 1;
}

.covenant {
    font-family: 'Covenant';
    font-size: 4rem;
    letter-spacing: 0px;
    width: max-content;
    color: var(--convrtr-base-color);
    line-height: 1.2;
}
.cov-glyph {
    font-family: 'Covenant';
    width: 3rem;
    height: 3rem;
    font-size: 2.5rem;
    line-height: 1;
    font-weight: normal;
}
