<section class="section">
    <div class="py-5 pb-4 px-2 px-sm-4">
        <div class="section-heading">
            <h1 class="display-6">ONI tools</h1>
            <hr>
            <p class="px-2">
                A collection of custom decosing tools for encrypting and decrypting data, built primarily for use in data-drive ARG puzzles (specifically the <a href="https://www.halopedia.org/Section_3_ARG" class="text-convrtr">Halo 4 Section 3 ARG</a>).
            </p>
            <p class="px-2 m-0">
                Please note that these tools aren't optimized for large amounts of data, processing can slow down or run into problems once you reach above <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">150,000</code> characters. A cap of 1 million characters is currently in place.
            </p>
        </div>
    </div>
</section>