<section id="braille" class="section">
    <div class="py-4 px-2 px-sm-4">
        <div class="section-heading mb-4">
            <div class="d-flex justify-content-between section-toggle"
                data-bs-toggle="collapse" href="#brailleCollapse" role="button" 
                aria-expanded="true" aria-controls="brailleCollapse">
                <h2 class="display-6 w-100 d-flex m-0">
                    Braille
                </h2>
                <span class="text-light px-1 border rounded align-self-end toggle-button">
                    <i class="bi bi-arrow-up lh-base"></i>
                </span>
            </div>
            <hr>
            <p class="px-2">
                Convert Braille to text and vice-versa. The "Create image" button downloads an image version of the generated Braille.
            </p>
            <p class="px-2">
                 There is more information available on the <a href="https://en.wikipedia.org/wiki/Braille" class="text-convrtr">Braille</a> Halopedia page. 
            </p>
        </div>
        <div class="collapse show" id="brailleCollapse">
            <div class="col">
                <div class="card">
                    <span class="card-label visually-hidden">Braille</span>
                    <div class="card-body text-center">
                        <textarea placeholder="" title="Braille conversion" rows="6" id="brailleTextarea" class="form-control flip-text"></textarea>
                    </div>
                    <div class="card-footer py-3">
                        <div class="text-center mb-2 g-0">
                            <div class="row row-cols-3 g-md-0 gx-0 gy-2">
                                <div class="col w-auto me-2 mb-2">
                                    <div class="me-auto flex-fill">
                                        <div class="input-group w-auto mb-2">
                                            <a class="btn btn-md btn-convrtr" id="brailleConvert" title="Create between braille and text">Convert</a>
                                        </div>
                                        <div class="input-group w-auto mb-2">
                                            <a class="btn btn-md btn-convrtr" id="generateBrailleImage" title="Create an image from Braille symbols">Create image</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-flex flex-fill mb-2">
                                    <div class="me-auto flex-fill">
                                        <div class="form-check form-switch mx-lg-2 d-flex">
                                            <input class="form-check-input" type="checkbox" role="switch" id="brailleSwitch">
                                            <label class="form-check-label" for="brailleSwitch">Convert Text to Braille</label>
                                        </div>
                                        <div class="form-check form-switch mx-lg-2 d-flex">
                                            <input class="form-check-input" type="checkbox" role="switch" id="brImageTransparency" checked>
                                            <label class="form-check-label" for="brImageTransparency">Transparent background</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-12 col-md-auto me-2 mb-2 d-flex justify-content-end">
                                    {% include "components/select-copy-dl" %}
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div id="brailleResults" class="data-to-copy active"></div>
                        <div id="brailleImageResults" class="braille"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>