<section id="forerunner" class="section">
    <div class="py-4 px-2 px-sm-4">
        <div class="section-heading mb-4">
            <div class="d-flex justify-content-between section-toggle"
                data-bs-toggle="collapse" href="#forerunnerCollapse" role="button" 
                aria-expanded="true" aria-controls="forerunnerCollapse">
                <h2 class="display-6 w-100 d-flex m-0">
                    Forerunner glyphs
                </h2>
                <span class="text-light px-1 border rounded align-self-end toggle-button">
                    <i class="bi bi-arrow-up lh-base"></i>
                </span>
            </div>
            <hr>
            <p class="px-2">
                Convert Forerunner glyphs from the video game <a href="https://www.halowaypoint.com/" title="HaloWaypoint.com - the official site for the Halo universe" class="text-convrtr">Halo</a> to their text alternative, these glyphs were primarily used during an <a href="https://www.halopedia.org/Section_3_ARG" title="Halopedia - Section 3 ARG" class="text-convrtr">ARG</a> for Halo 4. The "Generate image" button downloads an image version of the glyphs selected and displayed below the text version.
            </p>
            <p class="px-2">
                 There is more information available on the <a href="https://www.halopedia.org/Forerunner_symbols" class="text-convrtr">Forerunner symbols</a> Halopedia page. 
            </p>
        </div>
        <div class="collapse show" id="forerunnerCollapse">
            <div class="col">
                <div class="card">
                    <span class="card-label visually-hidden">Forerunner glyphs</span>
                    <div class="card-body text-center">
                        <div class="mb-2">
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: 0" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: 0">…</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: 1" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: 1">†</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: 2" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: 2">‡</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: 3" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: 3">ˆ</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: 4" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: 4">Š</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: 5" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: 5">Œ</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: 6" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: 6">Ž</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: 7" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: 7">‘</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: 8" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: 8">’</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: 9" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: 9">“</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: A" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: A">™</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: B" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: B">š</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: C" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: C">œ</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: D" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: D">ž</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: E" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: E">Ÿ</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: F" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: F">¡</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: G" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: G">¤</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: H" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: H">¥</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: I" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: I">¦</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: J" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: J">§</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: K" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: K">«</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: L" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: L">¬</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: M" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: M">®</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: N" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: N">¯</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: O" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: O">±</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: P" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: P">²</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: Q" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: Q">´</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: R" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: R">µ</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: S" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: S">º</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: T" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: T">»</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: U" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: U">½</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: V" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: V">¾</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: W " data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: W">¿</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: X" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: X">À</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: Y" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: Y">Â</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph:X" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: Z">Ã</button>
                            <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-" aria-label="Glyph: Æ" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: Æ">Å</button>
                        </div>
                    </div>
                    <div class="card-footer py-3">
                        <div class="d-flex justify-content-start align-items-center">
                            <a class="btn btn-md btn-convrtr" id="generateForerunnerImage" title="Generate an image from Forerunner glyphs">Create image</a>
                            <div class="form-check form-switch mx-2">
                                <input class="form-check-input" type="checkbox" role="switch" id="frImageTransparency" checked>
                                <label class="form-check-label" for="frImageTransparency">Transparent background</label>
                            </div>
                            {% include "components/select-copy-dl" %}
                        </div>
                        <hr />
                        <div id="forerunnerResults" class="data-to-copy active"></div>
                        <div id="forerunnerImageResults" class="forerunner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>