---
layout: layout.liquid
title: Cipher tools
page-id: ciphers
---
<main class="mt-5 ms-auto me-auto mw"
        data-bs-spy="scroll" 
        data-bs-target="#navbarText" 
        data-bs-smooth-scroll="true"
        data-bs-threshold="0,1"
        data-bs-root-margin="10% 0% -90%"
        id="content">
            {% render "partials/ciphers/home" %}
            {% include "partials/ciphers/caesar" %}
            {% include "partials/ciphers/sub" %}
            {% include "partials/ciphers/vigenere" %}
            {% include "partials/ciphers/beaufort" %}
            {% include "partials/ciphers/atbash" %}
            {% include "partials/ciphers/hash" %}
        </main>