<!doctype html>
<html lang="en"{% if page-id == "fourohfour" %} class="h-100"{% endif %}>
    <head>
        {% include "layout/meta" %}
        {% include "layout/header" %}

        {% render "layout/css" %}
        {% include "layout/favicons" %}
    </head>
    
    <body id="IOOBI9O4IEIEOIO4O4IB" 
          {% if page-id == "fourohfour" %}class="d-flex flex-column h-100 top-0"{% endif %}>

        {% include "layout/nav" %}

        {{ content }}

        {% include "layout/footer" %}
        {% include "layout/scripts" %}
        {% render "layout/toast" %}
    </body>
</html>
{% render "partials/routes/{{ page-id }}" %}