<!doctype html>
<html lang="en"{% if page-id == "fourohfour" %} class="h-100"{% endif %}>
    <head>
        {% render "layout/meta" %}
        <title>{{ title }}</title>

        <link rel="canonical" href="https://www.kenny.cx/convrtrjs">
        {% render "layout/css" %}
        {% render "layout/favicons" %}
    </head>
    
    <body id="IOOBI9O4IEIEOIO4O4IB" 
          data-bs-spy="scroll" 
          data-bs-target="#navbarText" 
          data-bs-smooth-scroll="true"
          {% if page-id == "fourohfour" %}class="d-flex flex-column h-100 top-0"{% endif %}>

        {% include "layout/nav" %}

        {{ content }}

        {% include "layout/footer" %}
        {% include "layout/scripts" %}
        {% render "layout/toast" %}
    </body>
</html>
{% render "partials/routes/{{ page-id }}" %}