<!doctype html>
<html lang="en"{% if page-id == "fourohfour" %} class="h-100"{% endif %}>
    <head>
        {% include "layout/meta" %}
        {% include "layout/title" %}

        {% render "layout/css" %}
        {% include "layout/favicons" %}
    </head>
    <body id="IOOBI9O4IEIEOIO4O4IB" 
          {% if page-id == "fourohfour" %}class="d-flex flex-column h-100 top-0"{% endif %}>
          <a class="visually-hidden-focusable" href="#content">Skip to main content</a>

        {% include "layout/header" %}

        <main class="{% if page-id == "fourohfour" %}flex-shrink-0 {% endif %}mt-5 ms-auto me-auto mw"
            data-bs-spy="scroll" 
            data-bs-target="#navbarText" 
            data-bs-smooth-scroll="true"
            data-bs-threshold="0,1"
            data-bs-root-margin="10% 0% -90%"
            id="content">
            {% if page-id != "fourohfour" -%}
            {% include "partials/default" %}
            {%- endif -%}
            {{ content }}
        </main>

        {% include "layout/footer" %}
        {% include "layout/scripts" %}
        {% render "layout/toast" %}
    </body>
</html>
{% assign dynamicPartialPath = "partials/routes/" | append: page-id | append: ".liquid" %}
{% if dynamicPartialPath | fileExists %}
{% render dynamicPartialPath %}
{% else %}
{% render "partials/routes/home" %}
{% endif %}