<section class="section">
    <div class="py-5 pb-4 px-2 px-sm-4">
        <div class="section-heading">
            <h1 class="display-6">{{ title }}</h1>
            <hr>
            <p class="px-2">
                {{ description }}
            </p>
            {% if page-id != "sitemap" %}
            {% render "components/data-limits" %}
            {% endif %}
        </div>
    </div>
</section>