---
layout: layout.liquid
title: Contributing to the project
description: Learn how to get involved with Convrtr — whether it's fixing bugs, suggesting features, or improving docs, every contribution makes a difference!
page-id: contributing
eleventyExcludeFromCollections: true
eleventyComputed:
  description: '{{ description }}<br />Last updated: <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">{{ lastmod | date: "%B %d, %Y" }}</code>'
---
<section class="section changelog privacy">
  <article class="py-4 px-2 px-sm-4">
        {% renderMarkdownFile "./CONTRIBUTING.md" %}
    </article>
</section>