---
layout: layout.liquid
title: License
description: The license we use for the project — a way to share and remix content freely, as long as you give credit, don't use it commercially, and keep the same license.
page-id: license
eleventyExcludeFromCollections: true
tags: community
---
<section class="section changelog license">
    <article class="py-4 px-3 px-sm-4">
        {% renderFile "LICENSE.md" %}
    </article>
</section>