---
layout: layout.liquid
title: License | Attribution-NonCommercial-ShareAlike 4.0 International
description: This page gives a quick overview of the license we use for the project — a way to share and remix content freely, as long as you give credit, don't use it commercially, and keep the same license.
page-id: license
eleventyExcludeFromCollections: true
---
<section class="section changelog privacy">
    <article class="py-4 px-2 px-sm-4">
        {% renderMarkdownFile "LICENSE" %}
    </article>
</section>