---
layout: layout.liquid
title: Privacy policy
description: This page explains how we handle your info — what we collect, why we need it, and how we keep it safe.
page-id: privacy
eleventyExcludeFromCollections: true
eleventyComputed:
  description: '{{ description }}<br />Last updated: <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">{{ lastmod | date: "%B %d, %Y" }}</code>'
---
<section class="section changelog privacy">
  <article class="py-4 px-2 px-sm-4">
        {% renderFile "./privacy.md" %}
    </article>
</section>