                                            <div class="form-check form-switch text-start">
                                                <input class="form-check-input" type="checkbox" role="switch" id="chainAb" aria-checked="false" aria-labelledby="chainAbLabel">
                                                <label class="form-check-label" id="chainAbLabel" for="chainAb">Chain <span class="visually-hidden">atbash </span>commands</label>
                                            </div>