<select class="form-select {% if page-id == "convrtrs" %}form-select-sm mx-2 ms-auto {% endif %}hex-delimiter" id="{{ filename }}Delimiter" autocomplete="off">
    <option value=" " selected="">Space</option>
    <option value="-">Hyphen</option>
    <option value=":">Colon</option>
    <option value=",">Comma</option>
    <option value="\x">Slash x </option>
    <option value="0x">Zero x</option>
    <option value="">None</option>
</select>