<section class="section">
    <div class="py-5 pb-4 px-2 px-sm-4">
        <div class="section-heading">
            <h1 class="display-6">Hexadecimal tools</h1>
            <hr>
            <p class="text-dark px-2">
                Various tools for working with hexadecimal strings.
            </p>
            <p class="text-dark px-2 m-0">
                Please note that these tools aren't optimized for large amounts of data, processing can slow down or run into problems once you reach above <code class="d-inline-flex px-2 text-dark bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">150,000</code> characters. A cap of 1 million characters is currently in place.
            </p>
        </div>
    </div>
</section>