<section id="reverseHex" class="section">
    <div class="py-4 px-2 px-sm-4">
        <div class="section-heading mb-4">
            <div class="d-flex justify-content-between section-toggle"
                data-bs-toggle="collapse" href="#reverseHexCollapse" role="button" 
                aria-expanded="false" aria-controls="reverseHexCollapse">
                <h2 class="display-6 w-100 d-flex m-0">
                    Reverse hex
                </h2>
                <span class="text-light px-1 border rounded align-self-end toggle-button">
                    <i class="bi bi-arrow-up lh-base"></i>
                </span>
            </div>
            <hr>
            <p class="px-2">
                Unlike reversing the entire string, this reverses each individual hex string. <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">74 65 73 74</code> [test] becomes <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">47 56 37 47</code>.
            </p>
        </div>
        <div class="collapse" id="reverseHexCollapse">
            <div class="col">
                <div class="card">
                    <span class="card-label visually-hidden">Reverse hex</span>
                    <div class="card-body text-center">
                        <textarea placeholder="Example: 47 56 37 47" title="Reverse hex nibbles" rows="6" id="reverseHexText" class="form-control reverse-hex"></textarea>
                    </div>
                    <div class="card-footer py-3">
                        <div class="d-flex justify-content-start align-items-center">
                            <button type="button" class="btn btn-md btn-convrtr me-2" id="reverseHexDecode" title="Reverse hex nibbles">Reverse</button>
                            {% include "components/delimiter" %}
                            {% include "components/select-copy-dl" %}
                        </div>
                        <hr />
                        <div id="reverseHexResults" class="data-to-copy active"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>