{%- assign searchItem = nav | where: "id", "search" | first -%}
<div class="offcanvas offcanvas-end shadow" tabindex="-1" id="offcanvasSearch" 
     aria-labelledby="offcanvasSearchLabel" data-bs-scroll="true" data-bs-backdrop="false">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasSearchLabel">Search</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <p>
            Begin typing to see live results right away; there's no need to hit Enter, everything updates as you type.
        </p>
        <p class="text-end">
            <a href="{{ '/' | append: searchItem.id | url }}" class="text-convrtr-link advanced-search">Advanced search</a>
        </p>
        <div id="page-search" class="mt-2"></div>
    </div>
</div>