<title>{{ pkg.sitename }} - {% if page.inputPath contains "changelog" and page.templateSyntax contains "liquid,md" -%}Changelog: v{% endif %}{{ title }}{% if page.url contains "tag/" -%}{%- assign tag = page.url | split: '/' | last %}: {{ tag }}{%- endif %}</title>

        <link rel="canonical" href="{{ pkg.homepage }}">