---
layout: layout.liquid
title: Miscellaneous tools
description: A collection of miscellaneous tools for use in puzzle solving.
page-id: "{{ page.fileSlug }}"
tags: landing-page
---
<span class="hidden" data-pagefind-filter="Filters" data-pagefind-meta="type:{{tags}}">{{ tags }}</span>
{% for page in collections.misc %}
    {% if page-id == "misc" %}
        {{ page.templateContent | removeHiddenClass: true | safe }}
    {% else %}
        {% include "wrapper.liquid" with page %}
    {% endif %}
{% endfor %}