<section id="tools" class="section">
    <div class="py-4 px-2 px-sm-4">
        <div class="section-heading mb-4">
            <div class="d-flex justify-content-between section-toggle"
                data-bs-toggle="collapse" href="#toolsCollapse" role="button" 
                aria-expanded="false" aria-controls="toolsCollapse">
                <h2 class="display-6 w-100 d-flex m-0">
                    Tools
                </h2>
                <span class="text-light px-1 border rounded align-self-end toggle-button">
                    <i class="bi bi-arrow-up lh-base"></i>
                </span>
            </div>
            <hr>
            <p class="px-2">
                Various operations that can be performed on any kind of text string. By default all changes are based on what you enter into the textarea. By selecting "Chain commands" this shifts to the results section at the bottom, you can then perform actions in succession. E.g. Strip spaces from a string, then select Remove all numbers and both will be performed. 
            </p>
        </div>
        <div class="collapse" id="toolsCollapse">
            <div class="col">
                <div class="card">
                    <span class="card-label visually-hidden">Text tools</span>
                    <div class="card-body text-center">
                        <textarea  title="Text tools" rows="6" id="toolsTextarea" class="form-control flip-text"></textarea>
                    </div>
                    <div class="card-footer py-3">
                        <div class="text-center mb-4 g-0">
                            <div class="row row-cols-2 g-md-0 gx-0 gy-2">
                                <div class="col col-12 col-md-auto">
                                    <div class="input-group w-auto">
                                        <select class="form-select" id="textToolsSelect" aria-label="Text tools">
                                            <option value="stripspaces" selected="">Strip spaces</option>
                                            <option value="uppercase">Uppercase</option>
                                            <option value="lowercase">Lowercase</option>
                                            <option value="numbersonly">Numbers only</option>
                                            <option value="lettersonly">Letters only</option>
                                            <option value="stripspecialchars">Strip special characters</option>
                                            <option value="removenumbers">Remove all numbers</option>
                                            <option value="removeletters">Remove all letters</option>
                                            <option value="specialcharsonly">Special characters only</option>
                                            <option value="alphabet">Letters to alphabet number</option>
                                            <option value="urlencode">URL Encode</option>
                                            <option value="urldecode">URL Decode</option>
                                        </select>
                                        <button class="btn btn-outline-convrtr" type="button" id="toolChange">Do the thing!</button>
                                    </div>
                                </div>
                                <div class="col-12 col-md-auto flex-fill">
                                    <div class="row row-cols-auto g-0">
                                        <div class="col col-8 col-sm-auto ms-0 mx-md-2 me-auto">
                                            <div class="form-check form-switch text-start">
                                                <input class="form-check-input" type="checkbox" role="switch" id="chainCommands">
                                                <label class="form-check-label" for="chainCommands">Chain commands</label>
                                            </div>
                                        </div>
                                        <div class="col d-flex flex-fill justify-content-end">
                                            {% include "components/select-copy-dl" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div id="textResults" class="data-to-copy active"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>