<tr>
    <th scope="row">
        <span class="display-6 fs-6 fw-normal">DMG</span>&nbsp;
    </th>
    <td>78&nbsp;</td>
</tr><tr>
    <th scope="row">
        <span class="display-6 fs-6 fw-normal">SSH</span>&nbsp;
    </th>
    <td>2D 2D 2D 2D 2D 42 45 47 49 4E 20 53 53 48 32 20&nbsp;</td>
</tr><tr>
    <th scope="row" rowspan="2">
        <span class="display-6 fs-6 fw-normal">PNG</span>&nbsp;
    </th>
    <td>89 50 4E 47 0D 0A 1A 0A 00 00 00 0D 49 48 44 52&nbsp;</td>
</tr><tr>
    
    <td>89 50 4E 47 0D 0A 1A 0A&nbsp;</td>
</tr><tr>
    <th scope="row">
        <span class="display-6 fs-6 fw-normal">DB, DOC, DOT, PPS, PPT, XLS, VSD, WPS</span>&nbsp;
    </th>
    <td>D0 CF 11 E0 A1 B1 1A E1&nbsp;</td>
</tr><tr>
    <th scope="row">
        <span class="display-6 fs-6 fw-normal">MIDI</span>&nbsp;
    </th>
    <td>4D 54 68 64&nbsp;</td>
</tr><tr>
    <th scope="row" rowspan="3">
        <span class="display-6 fs-6 fw-normal">MP4</span>&nbsp;
    </th>
    <td>66 74 79 70 69 73 6F 6D&nbsp;</td>
</tr><tr>
    
    <td>66 74 79 70 6D 70 34 32&nbsp;</td>
</tr><tr>
    
    <td>66 74 79 70 4D 53 4E 56&nbsp;</td>
</tr><tr>
    <th scope="row">
        <span class="display-6 fs-6 fw-normal">PSD</span>&nbsp;
    </th>
    <td>38 42 50 53 00 01&nbsp;</td>
</tr><tr>
    <th scope="row">
        <span class="display-6 fs-6 fw-normal">GIF87a</span>&nbsp;
    </th>
    <td>47 49 46 38 37 61&nbsp;</td>
</tr><tr>
    <th scope="row">
        <span class="display-6 fs-6 fw-normal">GIF89a</span>&nbsp;
    </th>
    <td>47 49 46 38 39 61&nbsp;</td>
</tr><tr>
    <th scope="row" rowspan="3">
        <span class="display-6 fs-6 fw-normal">GIF</span>&nbsp;
    </th>
    <td>49 44 33 03 37&nbsp;</td>
</tr><tr>
    
    <td>49 44 33 03 39&nbsp;</td>
</tr><tr>
    
    <td>49 44 33 03&nbsp;</td>
</tr><tr>
    <th scope="row" rowspan="3">
        <span class="display-6 fs-6 fw-normal">MP3</span>&nbsp;
    </th>
    <td>FF FB&nbsp;</td>
</tr><tr>
    
    <td>FF F3&nbsp;</td>
</tr><tr>
    
    <td>FF F2&nbsp;</td>
</tr><tr>
    <th scope="row">
        <span class="display-6 fs-6 fw-normal">RTF</span>&nbsp;
    </th>
    <td>7B 5C 72 74 66 31&nbsp;</td>
</tr><tr>
    <th scope="row">
        <span class="display-6 fs-6 fw-normal">PDF</span>&nbsp;
    </th>
    <td>25 50 44 46&nbsp;</td>
</tr><tr>
    <th scope="row">
        <span class="display-6 fs-6 fw-normal">WAV</span>&nbsp;
    </th>
    <td>52 49 46 46&nbsp;</td>
</tr><tr>
    <th scope="row">
        <span class="display-6 fs-6 fw-normal">GZIP</span>&nbsp;
    </th>
    <td>1F 8B&nbsp;</td>
</tr><tr>
    <th scope="row">
        <span class="display-6 fs-6 fw-normal">ZIP</span>&nbsp;
    </th>
    <td>50 4B 03 04&nbsp;</td>
</tr><tr>
    <th scope="row">
        <span class="display-6 fs-6 fw-normal">7ZIP</span>&nbsp;
    </th>
    <td>37 7A BC AF 27 1C&nbsp;</td>
</tr><tr>
    <th scope="row">
        <span class="display-6 fs-6 fw-normal">XZ</span>&nbsp;
    </th>
    <td>FD 37 7A 58 5A 00&nbsp;</td>
</tr><tr>
    <th scope="row">
        <span class="display-6 fs-6 fw-normal">JPG</span>&nbsp;
    </th>
    <td>FF D8 FF&nbsp;</td>
</tr><tr>
    <th scope="row" rowspan="2">
        <span class="display-6 fs-6 fw-normal">JPEG 2000</span>&nbsp;
    </th>
    <td>00 00 00 0C 6A 50 20 20 0D 0A 87 0A&nbsp;</td>
</tr><tr>
    
    <td>FF 4F FF 51&nbsp;</td>
</tr><tr>
    <th scope="row">
        <span class="display-6 fs-6 fw-normal">BMP</span>&nbsp;
    </th>
    <td>42 4D&nbsp;</td>
</tr><tr>
    <th scope="row">
        <span class="display-6 fs-6 fw-normal">DLL, EXE, PIF, SCR, SYS</span>&nbsp;
    </th>
    <td>4D 5A&nbsp;</td>
</tr>